body {
    box-sizing: border-box;
    background: #fefefe;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    padding: 2px;
    min-width: 420px;
    min-height: 380px;
}

.nav .nav-link {
    padding: 0;
    margin: 4px 8px;
}

.row {
    padding: 4px;
    padding-left: 8px;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.status {
    margin: 0;
    display: none;
}

.selection {
    margin-left: -13px;
}

.inline-block {
    display: inline-block;
    margin-bottom: 0;
}

.send-request-row {
    margin-bottom: 8px;
}